@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  margin-top: 10%;
}

.mainClick {
  margin-top: 2%;
}

body {
  background-color: #14213d;
}

.fix {
  border: 2px solid #928791;
  border-radius: 5px;
  background-color: #ef6eb5;
  padding: 10px;
}

h1,
h4 {
  color: #e5e5e5;
}

#resTable thead {
  background-color: #007bff;
  color: white;
}

#resTable td {
  padding: 10px;
}

#resTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
}

#resTable tr:hover {
  background-color: #f5f5f5;
}

#resTable td.negative {
  color: red;
}

#resTable td.positive {
  color: green;
}

#coin {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  margin: 0 auto;
}

#coin:focus {
  border-color: #b6cbe1;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  margin: 10px auto;
  display: block;
  width: 100%;
}
